@import './base.css';
@import './animation.scss';
@import 'vue-draggable-resizable/style.css';

:root {
}

.q-splitter--vertical.q-splitter--workable > .q-splitter__separator {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.q-splitter__separator {
	&:hover,
	&:active {
		border-left: 2px dotted $primary;
	}
}

.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}
.rel {
	position: relative;
}
.empty {
	font-size: 0.8rem;
	color: $secondary;
	text-align: center;
	&:before {
		content: '🙃 ';
	}
}
