@import './base.css';
@import './animation.scss';
@import 'vue-draggable-resizable/style.css';

:root {
	--panel-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -1px 0px 3px rgba(0, 0, 0, 0.2);
	--panel-height: calc(100vh - 100px);
}

.q-splitter--vertical.q-splitter--workable > .q-splitter__separator {
	margin-left: 0.2rem;
	// margin-right: 0.2rem;
}
.q-splitter__separator {
	&:hover,
	&:active {
		border-left: 2px dotted $primary;
	}
}

.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}
.rel {
	position: relative;
}
.empty {
	font-size: 0.8rem;
	color: $secondary;
	text-align: center;
	&:before {
		content: '🙃 ';
	}
}
.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #c7d8f4;
	top: 64px;
	left: -100%;
	z-index: 2;
}
.bl {
	background: #fff;
	min-height: var(--panel-height);
	padding: 1rem;
	margin-right: 0.25rem;
	position: relative;
}
